<div class="head container mt-4">
    <header class="bg-dark text-white p-2 mb-2 text-center rounded">
        <h1>Register</h1>
    </header>

    <div class="jumbotron ">
        <form (ngSubmit)="submit()" [formGroup]="form">
            <!-- FORM NAMA ============================ -->
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" name="name" id="formGroupExampleInput"
                [ngClass]="{ 'is-invalid' : submitted && f.name.errors}">
                
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                        name is requaired
                    </div>
                </div>
            </div>

            <!-- FORM EMAIL ====================== -->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="email" name="email" [ngClass]="{'is-invalid' : submitted && f.email.errors}">


                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">
                        email is requaired
                    </div>

                    <div *ngIf="f.email.errors.email">
                        Email must be a valid email address!
                    </div>
                </div>
            </div>

            <!-- FORM PASSWORD================ -->
            <div class="mb-3 form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password" 
                [ngClass]="{'is-invalid' : submitted && f.password.errors}">

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                        password is requaired
                    </div>

                    <div *ngIf="f.password.errors.minlength">
                        Password must be atleast 6 characters
                    </div>
                </div>
                
            </div>

            <!-- FORM KONFIRMASI PASSWORD======== -->
            <div class="mb-3 form-group">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" formControlName="confirmPassword" name="confirm_password"
                [ngClass]="{'is-invalid' : submitted && f.confirmPassword.errors}">

                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">
                        confrim password is requaired
                    </div>

                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                        Password must match!
                    </div>
                </div>
            </div>

            <!-- BUTTOON -->
            <button type="submit" class="btn btn-secondary col-md-12">Register</button>
            <hr>
            <p class="text-center">Already have account? click <a routerLink="/login"> <em>Log In</em></a></p>
        </form>
    </div>
</div>
